# Exclude everything by default
*

# Allow these files
!manager.html
!staff-availability.html
!manifest-manager.json
!manifest-staff.json
!sw-manager.js
!sw-staff.js
!assets/
assets/*
!assets/icon-192.png
!assets/icon-512.png
!.gitignore
